.set{	
	// position: relative;
	flex: 1 1 auto;
	padding: $pad-x 25px;
	// height: 100%;
	background: url('/src/static/img/bg_set_1.png'), url('/src/static/img/bg_set_smog.jpg');
	background-repeat: no-repeat,repeat;
  background-position: 100% 100%;
}
